@tailwind base;

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@tailwind components;

@tailwind utilities;

* {
  box-sizing: border-box;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
